*{
    margin: 0;
    padding: 0;
}

#myMasonry{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: brown;
    min-height: 200px;
    display: grid;
    row-gap: 10px;
    align-items: flex-start;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 30px;
    margin-top: 50px;
}

.item{
    background-color: cadetblue;
    height: var(--h);
    width: 100%;
}
.item_h2{
    height: calc(var(--h) * 2);
    background-color: #5a719b;
}
.item_h3{
    height: calc(var(--h) * 3);
    background-color: #306643;
}